
:root {
    --leading: 2em;
}



body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* .hero-bg h1::first-letter{
    font-size: 0px;
} */

.hero-bg{
    background: black url(images/kitchen-731351_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 4em;

}

header{
    padding: 1em 1em;
}

.hero-bg a {
    color: #1699e6;
    text-decoration: none;
    font-size: 3rem;
}


section{
    margin: 0 1em;
}

h1{
    color: #1699e6 ;
    font-size: 2.5rem;
    margin: 1.9em 0 1.3em;
}

h1 span{
    font-size: 2.9rem;
    text-transform: uppercase;
    display: block;
    margin: .6em 0em;
    position: relative;
     z-index: 1;
    color: #b59900fd ;
}

h1 span::before {
    content: ' ';
    position: absolute;
    width: 9.5em;
    background: #ffffffb9;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.9;
}

.hero-bg p {
    margin: 0 1em 3em;
    font-size: 1.3rem;
}

.form-container{
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 3%;
    margin: 2em -1em 0;
    padding: 0em 1em; 
}

label{
    display: block;
    color: #1699e6;
    font-size: 1.5rem;
    margin-bottom:1em ;
    padding-top: 1em;
}


input[type=text] {
    border: 1px solid #707070;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: .5em;
    margin-top: 1.2em;
    
}


.form-container p {
    color: gray;
    margin-bottom: 1.5em;
    font-size: .9em;
    margin-top: .3em;
}



input[type=button] {
    background-color: #F89104;
    border: none;
    width: 100%;
    color: white;
    padding: 1em 0;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: rgb(216, 126, 1);
}


.bottom{
    margin: 0;

}

img{
    width: 100%;
}

.right-wing{
    text-align: center;
    margin: 3em 1em;
}


h2 {
    text-transform: uppercase;
    position: relative;
}

h2::before {
    content: ' ';
    position: absolute;
    width: 10.7em;
    background: #F89104;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}


p {
    line-height: var(--leading);
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 200%;
    background: rgba(0,0,0,.9);
    z-index: 1;
    place-content: center;
    color: white;
    display: none;
    opacity: 0;
}

.animate-overlay {
    animation: overlay 3s forwards;
}


@media (min-width: 730px){
        section{
            margin: 0 4em;
    } 
        .form-container{
    
            margin: 2em -4em 0;
    }

        .hero-bg p {
    margin: 0 1em 2em;
    font-size: 1.2rem;
}

        header{
    padding: .6em .1em;
}

        .hero-bg a {
    color: #1699e6;
    text-decoration: none;
    font-size: 2.4rem;
}



}

@media (min-width: 930px){
    .hero-bg  section{
            width: 75%;
    } 
      
    .hero-bg {
    text-align: left;    
    font-size: 1.2rem;
}
    

        .hero-bg p {
    margin: 0 0em 3em;
    font-size: 1.3rem;
}

        header{
    padding: 0em .1em;
}

        .hero-bg a {
    color: #1699e6;
    text-decoration: none;
    font-size: 2.8rem;
}

        h1 span{
    font-size: 2rem;
    text-transform: uppercase;
 
}
        .form-container{
    width: 75%;
    margin: 1em 0em;
    padding: 1em 1em;
    box-shadow: 10px 10px 10px rgba(128, 126, 64, 0.247); 
}

        form{
            display: flex;
        }

        .form-left{
            width: 70%;
        }


        label{
            margin: 0;
        }

        input[type="button"] {
        height: fit-content;
        font-size: 1.1em;
        margin-left: 1em;
        margin-top: 3.4em;
        padding: .5em 0;
        width: 30%;
    }

        .hero-bg p {
         margin: 0;
         padding: .5em 0;
         font-size: 1em;
    }


        section.bottom{
            display: grid;
            grid-template-columns: repeat(2, 50%) ;
            grid-template-areas: 
                "bowl content" ;
        }

        .right-wing{
            grid-area: content;
            padding: 10%;
            text-align: left;
            align-self: center;
        }


        img{
            grid-area: bowl;
        }

}




.top{
    animation: FadeIn 2s forwards ;
}


@keyframes FadeIn{
    from{
        opacity: 0;
        transform: translateY(-2em);
    }
   
    to{
        opacity: 1;
        transform: translateX(0);
    }    

}



@keyframes overlay {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


